<footer class="footer">
    <section class="grid-parent">
        <div class="titles">
            <p class="subtitle">Get in touch</p>
            <h2 class="title">contact</h2>
        </div>

        <div class="footer-links">

            <div class="footer-mob">
                <a href="tel:+447956519802">
                    <div class="footer-link">
                        <img src="/assets/images/phone.svg" alt="phone icon">
                        <p class="font-1">call me</p>
                    </div>
                </a>
            </div>

            <div class="footer-whatsapp">
                <a href="https://wa.me/447956519802?text=Hi%20Giuliano!%20" target="_blank"
                rel="noreferrer noopener">
                <div class="footer-link">
                    <img class="" src="assets/images/whatsapp.svg" alt="whatsapp icon">
                    <p class="font-1">WhatsApp me</p>
                </div>
            </a>
                
            </div>

            <div class="footer-mail">
                
                <a href="mailto:giuliano.grasso26@gmail.com?subject=Private Maths Tuition">
                    <div class="footer-link">
                        <img src="assets/images/email.svg" alt="email icon">
                        <p class="font-1">email me</p>
                    </div>
                </a>
            </div>

            <div class="footer-address">

                <a href="https://www.google.co.uk/maps/dir//GG+Maths+-+Private+Maths+Tutor,+45+Exeter+Rd,+London+N14+5JT/@51.6350783,-0.1431521,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48761923e87f01e1:0xb59e62c483b997c!2m2!1d-0.1409634!2d51.6350783!3e0"
                    target="_blank" rel="noreferrer noopener">
                    <div class="footer-link">
                        <img src="/assets/images/location-pin.svg" alt="location pin icon">
                        <p class="font-1">find me</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</footer>