<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="maths tutor, tutoring, gcse maths, a level maths">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="icon" type="image/svg+xml" href="assets/images/favicon.svg"/>
    <link href="assets/images/favicon.svg" rel="apple-touch-icon">
    {% feed_meta %}
    {% seo %}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@500&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/5dc34070c8.js" crossorigin="anonymous"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-67ZXE2EPM5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-67ZXE2EPM5');
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
