---
layout: default
title: Private Maths Tutor
---



<!-- Introduction -->
<section class="intro">
    <header class="intro__head flex-center">
        <h1 class="intro__subtitle">Private Maths & 11+ Tutor</h1>
        <h2 class="intro__title">Giuliano Grasso</h2>

    </header>
    <div class="intro__img flex-center">
        
        <img src="assets/images/professor.svg" alt="professor standing in front of a blackboard" class="svg">

    </div>
</section>




<!-- Hero -->
<section class="hero grid-parent">
    <div class="hero__body flex-center">

        <div class="titles">
            <h2 class="subtitle">Online & in-person lessons</h2>
            <p class="title">Helping to build confidence and positivity</p>
        </div>

        <div>
            <h2 class="subtitle">Engaging learning</h2>
            <p>Interactive and challenging lessons for a long-term understanding.</p>
        </div>
        <div>
            <h2 class="subtitle">Effective learning</h2>
            <p>Develop specific problem-solving skills that translate into any role.</p>
        </div>

        <a href="#reviews"
            class="button">View testimonials</a>


    </div>

    <div class="hero__img flex-center">
        <img src="assets/images/online-learning.svg" alt="teacher sitting at desk with laptop, teaching online to a student seen in laptop background" class="svg">
    </div>
</section>


<!-- Main -->
<main>

    <!-- About Me -->
    <section class="grid-parent about-me">

        <div class="about-me__img flex-center">
            <div class="titles">
                <p class="subtitle">About me</p>
                <h2 class="title">Hi 👋, I'm Giuliano...</h2>
            </div>

           
            <img src="assets/images/me.webp" alt="a standing picture of Giuliano Grasso facing the camera, smiling on a bridge, with the river Mersey in the backgorund.">
            
        </div>

        <div class="about-me__body flex-center body-width">
            <p>
                and I have been a full-time maths tutor for over six years and am devoted to teaching. I am passionate about
                maths and
                want to pass on my expertise to as many students as possible.
            </p>
            <p>
                My love for it began while studying maths at The University of East Anglia. While there, I worked with a
                charity to help
                children from underprivileged backgrounds improve in their maths and English.
            </p>
            <p>
                Watching the growth and progress these
                children made was incredible and inspired me to pursue this as my job. I knew if I wanted to make the most
                impact on a
                student, it would be in a one-to-one setting. That's because I can change my style to fit the student's
                needs.
            </p>
            <p>
                And so, for the last six years, I have done that. In this time, I've helped students go from a grade 3 to a
                grade 7 in
                their GCSE's. I have helped A-Level students with their STEP and MAT entrance exams to Oxford or Cambridge.
                And I've
                helped students at 11+ get into grammar schools.
            </p>
            <p>
                I'm extraordinarily proud of each of my students and go to the best of my ability to give them the support
                they're
                seeking.
            </p>
        </div>
    </section>


    <!-- Private Tutor -->
    <section class="grid-parent private-tutor">
        <div class="private-tutor__body flex-center body-width">
            <div class="titles">
                <p class="subtitle">11+, GCSE & A-Level Tutoring Support</p>
                <h2 class="title">Private Tutoring</h2>
            </div>
            <p>
                I’ve worked with students of all ages and abilities and have helped inspire confidence and passion for
                learning maths.
            </p>
            <p>
                But don't just take my word for it. See what some of my former and present students have said about me.
            </p>
            <a href="https://www.google.com/search?q=gg+maths&rlz=1C1CHNY_enGB764GB764&oq=gg+maths&aqs=chrome..69i57j35i39j0i22i30j69i64l2j69i60j69i61l2.2511j0j7&sourceid=chrome&ie=UTF-8#lrd=0x48761923e87f01e1:0xb59e62c483b997c,1,,," class="button" target="_blank" rel="noreferrer noopener">View google Reviews</a>
        </div>
    
        <div class="private-tutor__img flex-center">
            <img src="assets/images/education.svg" alt="girl who graduated standing on top of books" class="svg">
        </div>
    </section>

    <!-- Professional Tutoring -->
    <section class="grid-parent pro-tutoring">

        <div class="pro-tutoring__img flex-center">
            <div class="titles">
                <p class="subtitle">over 8 years of full-time experience</p>
                <h2 class="title">Professional Tutoring</h2>
            </div>
            <img src="assets/images/teaching.svg" alt="teacher teaching from blackboard" class="svg">
        </div>

        <div class="pro-tutoring__body flex-center body-width">
            <div>
                <h2 class="subtitle">11+ Maths & English tutoring</h2>
                <p>Experience with Dame Alice Owens, Latymer and St Michael’s amongst many more. I aim for a passion for
                    learning to create
                    long-lasting success by making the lessons enjoyable yet effective. I focus on English, maths, and
                    verbal/non-verbal
                    reasoning to get your child into your chosen secondary school.</p>
            </div>
            <div>
                <h2 class="subtitle">GCSE Maths tutoring</h2>
                <p>I will provide you with a customised, detailed plan with a proven track record. We will establish exam
                    techniques and
                    strategies to deal with any set of papers. Whether you’re targeting a grade 5 or a grade 9, I have the
                    experience to get
                    you there.</p>
            </div>
            <div>
                <h2 class="subtitle">A-Level Maths tutoring</h2>
                <p>To earn the top grades, you will have to try problems outside your textbook. We will focus on challenging
                    questions to
                    create an in-depth understanding. So, when you sit your exam, you will breeze through it.</p>
            </div>
        </div>
    </section>
</main>



<!-- Testinomials -->
<section class="testimonials" id="reviews">

    <div class="titles">
        <p class="subtitle">what students & parents have to say</p>
        <h2 class="title">testimonials</h2>
    </div>

    <div class="media-scroller snaps-inline">
        
        <div class="media-element">
            <h2 class="subtitle">Rohan - <span>GCSE</span> student</h2>
            <p>Very good teaching methods which helped me achieve my <span>grade 9</span> in maths GCSE. Would highly recommend</p>
            <p class="swipe">Swipe <i class="fas fa-angle-double-right"></i></p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Somto - <span>GCSE</span> student</h2>
            <p>After what was a challenging 2 years with multiple lockdowns. I was given the help I needed and achieved a <span>grade 8</span> in my
            GCSEs. Would heavily recommend.</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Stephanie - <span>A-Level</span> student</h2>
            <p>I got <span>an A</span> in A Level Maths thanks to Giuliano! He helped me improve my maths skills and exam technique so much. Thank
            you!!!!</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>   
        </div>
        <div class="media-element">
            <h2 class="subtitle">V - Mother of <span>GCSE</span> student</h2>
            <p>Giuliano is great. He has an easy-going manner whilst also keeping the student very focused. My
            son responded to him very well and has <span>achieved the grade he wanted</span> in GSCE. Considering maths was his least favourite
            subject he seemed to quite enjoy maths with Giuliano!
            </p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Kyle - <span>GCSE</span> student</h2>
            <p>Great teaching and easy to understand. Before (Giuliano), I was working at a grade 6 level. But with the help and support,
            (he) managed to get me working to a <span>grade 8</span>. Thanks for the help!</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Karen - Mother of <span>GCSE</span> student</h2>
            <p>My son was delighted with his
            <span>grade 8</span>, which he feels he would not have achieved without Giuliano's support</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Andrea - <span>GCSE</span> student</h2>
            <p>Very good tutor, managed to secure a <span>grade 9</span> in my GCSEs with him. 10/10</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">L AF - <span>Adult</span> student</h2>
            <p>
                Jules is patient and intuitively knows when to allow me to do the hard thinking and when to intervene. I would highly recommend him. <span>He absolutely knows his stuff</span> (I have a science background) and is good at communicating in such a way to enable learning.
            </p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Matthew - <span>GCSE</span> student</h2>
            <p>Before Giuliano I was getting 3's and maybe a 4 on a good day. Fast forward to my actual GCSE I end up getting a <span>grade 7</span>. Definitely wouldn't be doable without Giuliano coming over every weekend to help me.</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Noorina - <span>A-Level</span> student</h2>
            <p>A knowledgeable and thorough professional tutor. His detailed and informed approach <span>taught me more in a few hours than
            weeks of class</span>. I recommend him to anyone struggling in a levels or GCSE maths!</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Orli - <span>GCSE</span> student</h2>
            <p>I just got back my GCSEs and finished with a <span>grade 7 (an A)</span> and I really wouldn't have been able to do it without all
            his help. Not only is he a brilliant tutor but also kind and amazing individual, caring about his students.</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>
        <div class="media-element">
            <h2 class="subtitle">Bartek - <span>A-Level</span> student</h2>
            <p>Great lessons and a great tutor that is <span>very passionate for the subject.</span> I learnt a lot but also had an amazing time
            learning and preparing for my A levels.</p>
            <p class="stars">⭐⭐⭐⭐⭐</p>
        </div>



    </div>



    <div class="testimonials__btn">

        <a href="https://www.google.com/search?q=gg+maths&rlz=1C1CHNY_enGB764GB764&oq=gg+maths&aqs=chrome..69i57j35i39j0i22i30j69i64l2j69i60j69i61l2.2511j0j7&sourceid=chrome&ie=UTF-8#lrd=0x48761923e87f01e1:0xb59e62c483b997c,1,,,"
            class="button" target="_blank" rel="noreferrer noopener"> More google Reviews</a>
    </div>

</section>




<section class="faq grid-parent">

    <div class="faq__body flex-center body-width">

        <div>
            <div class="faq-question">
                <p class="faq-question-style">Q</p>
                <h3>What Is The Price Of A One Hour Private Lesson?</h3>
            </div>

            <div class="faq-answer">
                <p class="faq-answer-style">A</p>
                <p>Lessons in person are £50 per hour and are £45 online.</p>
            </div>
        </div>

        <div>
            <div class="faq-question">
                <p class="faq-question-style">Q</p>
                <h3>Are You DBS Checked?</h3>
            </div>
        
            <div class="faq-answer">
                <p class="faq-answer-style">A</p>
                <p>Yes, since I work in multiple primary schools, my DBS is consistently updated.</p>
            </div>
        </div>

        <div>
            <div class="faq-question">
                <p class="faq-question-style">Q</p>
                <h3>Will You Travel To My Home For Lessons?</h3>
            </div>
        
            <div class="faq-answer">
                <p class="faq-answer-style">A</p>
                <p>Yes, provided you do not live too far away, and I have the time.</p>
            </div>
        </div>
        
        <div>
            <div class="faq-question">
                <p class="faq-question-style">Q</p>
                <h3>I'm An Adult Student. Can You Help Me?</h3>
            </div>
        
            <div class="faq-answer">
                <p class="faq-answer-style">A</p>
                <p>Yes. I've tutored adults who were seeking a qualification or learning maths as a hobby.</p>
            </div>
        </div>
        
        <div>
            <div class="faq-question">
                <p class="faq-question-style">Q</p>
                <h3>can i add my name to a waiting list?</h3>
            </div>
        
            <div class="faq-answer">
                <p class="faq-answer-style">A</p>
                <p>Yes. I cannot always guarantee availability so I can add your name to a waiting list for when a
                slot opens.</p>
            </div>
        </div>

    </div>


    <div class="faq__img flex-center">
        <div class="titles">
            <p class="subtitle">fequently asked questions</p>
            <h2 class="title">FAQ</h2>
        </div>
        <img src="assets/images/questions.svg" alt="large question mark with two people either side" class="svg">
    </div>

</section>


{% include footer.html %}



